if has nix; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.0.7; then
	  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.7/direnvrc" "sha256-bn8WANE5a91RusFmRI7kS751ApelG02nMcwRekC/qzc="
  fi

  watch_file nix/devShells.nix
  use flake .
else
  export CHOOSENIM_CHOOSE_VERSION="$(< ./.nim-version)"
  curl https://nim-lang.org/choosenim/init.sh -sSf | sh
  PATH_add ~/.nimble/bin
fi
